/* Este es el contenido puro de CSS que se está inyectando en App.jsx.
No contiene ninguna sintaxis de JavaScript.
*/

/* Estilo para Botones (Efecto 3D Suave) */
button {
font-size: 1.2rem;
color: #FFFFFF;
text-transform: uppercase;
padding: 10px 20px;
border-radius: 8px;
border: none;
cursor: pointer;
margin: 20px auto;
display: block;
transition: all 0.2s ease;
font-weight: 600;
letter-spacing: 0.5px;
position: relative;
box-shadow: 0 4px 0 rgba(79, 70, 229, 1);    /* Azul Índigo Profundo */
}

button:hover {
opacity: 0.9;
}

button:active {
transform: translateY(4px); 
box-shadow: 0 0 0 rgba(79, 70, 229, 1); 
}

/* Estilo para la Navegación */
.c-menu  {
display: flex;
justify-content: center;
gap: 2rem;
padding: 1rem 1rem;
background-color: #1f2937; 
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.c-menu a {
color: #d1d5db; /* Gris Claro */
text-decoration: none;
font-weight: 700;
padding: 0.5rem 1rem;
border-radius: 6px;
transition: all 0.2s ease;
}

.c-menu a:hover {
color: #ffffff;
background-color: #3b82f6; /* Azul Brillante */
box-shadow: 0 0 8px rgba(59, 130, 246, 0.5);
}